.fixed-search {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 0;
    background: #fff;
    -moz-transition: -moz-box-shadow .2s linear;
    -webkit-transition: -webkit-bbox-shadow .2s linear;
    transition: box-shadow .2s linear;
    -moz-box-shadow: 0 1px 8px #c7c7c7;
    -webkit-box-shadow: 0 1px 8px #c7c7c7;
    box-shadow: 0 1px 8px #c7c7c7;
}

.weather-box {
    margin-bottom: -12px
}

.featured-card {
    border: 1px solid transparent;
}

.featured-card:hover {
    color: #495057;
    background-color: rgba(0, 0, 0, 0.04);
}

.featured-card a {
    color: rgb(73, 80, 87);
}

.featured-card:hover a {
    color: rgb(70, 127, 207);
}

.card-header {
  min-height: 0;
}
